<%= form_with(model: receipt) do |form| %>
  <% if receipt.errors.any? %>
    <div class="message is-danger">
      <div class="message-header">
        <p><%= pluralize(receipt.errors.count, "error") %> prohibited this receipt from being saved:</p>
      </div>

      <div class="message-body">
        <ul>
          <% receipt.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
        </div>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date, style: "display: block", class:"label" %>
    <%= form.date_field :date, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :time, style: "display: block", class:"label" %>
    <%= form.time_field :time, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :description, style: "display: block", class:"label" %>
    <%= form.text_field :description, class:"input" %>
  </div>

  <div class="field">
    <%= form.label :total, style: "display: block", class:"label" %>
    <%= form.number_field :total, class:"input" %>
  </div>

  <div class="actions">
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
