<div id="<%= dom_id receipt %>">
  <p>
    <strong>Date:</strong>
    <%= receipt.date %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= receipt.time %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= receipt.description %>
  </p>

  <p>
    <strong>Total:</strong>
    <%= receipt.total %>
  </p>

</div>
