
<% content_for :title do %>
  Mechanic &ndash; <%= DateTime.now.to_formatted_s(:nice_date) %>
<% end %>


<div id="receipts" class="columns mt-6 is-centered">
  <% @receipts.each do |receipt| %>
    <div class="column is-one-quarter">
      <div class="card">
      <%= render receipt %>

      <div class="card-footer">
      <%= link_to "Show", receipt, class: "card-footer-item" %>
      <%= link_to "Edit", edit_receipt_path(receipt), class: "card-footer-item" %>
      <%= link_to "Delete", receipt, method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?'}, class: "card-footer-item" %>
      </div>
    
      </div>
    </div>
  <% end %>
</div>
